<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
        width: 70%;
        margin: 0 auto;
        margin-top: 200px;
        height: 400px;
        overflow-y: auto;
    }

    table,
    th,
    td {
        border: solid 1px black;
        border-collapse: collapse;
    }
</style>

<body>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo electronico</th>
                <th>Reservacion</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0; i < results.length; i++) { %>
            <tr>
                <td><%= results[i].id %></td>
                <td><%= results[i].nombre %></td>
                <td><%= results[i].apellido %></td>
                <td><%= results[i].correo %></td>
                <td><%= results[i].reservacion %></td>
            </tr>
            <%} %>
        </tbody>
    </table>
</body>

</html>